/* :root {
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary:#b6b6b6;
  --text-secondary:#ececec;
  --bg-primary:#28282e;
  --bg-secondary:#141418;
  --transition-speed:600ms;
}
*/

body {
  margin: 0;
  padding: 0;
} 

.inner {
  position: relative;
  width: 100vh;
  height: 20px;
  background-color: rgb(20, 20, 55, 0.1);
}

.inner .menu{
  display: flex;
  justify-content: center;
}

.bgImage {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(/image/img1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  animation: bgChange 20s linear infinite;
}

@keyframes bgChange {
  0% {
    background-image: url(/image/img1.png);
  }
  20% {
    background-image: url(/image/img1.png);
  }
  25% {
    background-image: url(/image/img2.png);
  }
  45% {
    background-image: url(/image/img2.png);
  }
  50% {
    background-image: url(/image/img3.png);
  }
  70% {
    background-image: url(/image/img3.png);
  }
  75% {
    background-image: url(/image/img4.png);
  }
  95% {
    background-image: url(/image/img4.png);
  }
  
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: rbga(0, 0, 0, 0.3);
}

.content {
  position: relative;
  height: 100%;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}

.content h1{
  font-size: 60px;
  margin-bottom: 0px;
}

.content h1 span {
  color: rgb(20, 20, 55);
}

.content p {
  font-size: 1.5rem;
  width: 60%;
  padding-bottom: 10px;
  text-align: center;
}

.content button {
  color: darkblue;
  border: none;
  outline: none;
  background-color: aquamarine;
  font-size: 1.5rem;
  padding: 14px 22px;
  text-transform: uppercase;
  border-radius: 25px;
  transition: .5s;
  margin-top: 10px;
  margin-bottom: 10px;
}

.content button:hover {
  background-color: rgb(5, 30, 30);
  color: rgb(127, 202, 255);
}

body::-webkit-scrollbar {
  width: 0.25rem;
}
body::-webkit-scrollbar-track {
  background: #1e1e24;
}
body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

/* small screens
@media only screen and (max-width: 600px) {
}

  large screens
@media only screen and (min-width: 600px) {
}
*/