*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-background: hsl(201, 10%, 15%);
  --sub-background: hsl(203, 12%, 20%);
  --main-font-color: hsl(202, 20%, 95%);
}

body {
  background: var(--main-background);
  color: var(--main-font-color);
}

#about {
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}


.about-me-container {
  display: flex;
  flex-direction: row;
  margin: 2rem;
}

.sns-icons {
  display: flex;
  background: var(--sub-background);
  color: whitesmoke;
  justify-content: space-evenly;
}

.sns-icons > a {
  margin: 1.5rem;
  padding: 1.5rem;
}

.main-profile {
  width: 300px;
  border-radius: 50%;
  margin: 2rem;
}
